<div fxLayout="row" fxLayoutAlign="space-between end">
    <div>
      <h5>Nexus ( Manchester) </h5>
      warehouse operative
    </div>
    <div >
        Sep 2018- Oct 2018
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between end">
    <div>
      <h5>S-Clinica (Brussels) </h5>
      Programmer :  Coding in Visual Basic Language , Creating reports by using SQL Language<br>
      Testing programs and fixing problems
    </div>
    <div >
        Oct 2007- Oct 2009
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between end">
    <div>
      <h5>Ariane Group (Brussels) </h5>
      Programmer :  Maintaining internal programme in ColdFusion 4.5 , Creating reports by using SQL Language
    </div>
    <div >
        Jan 2001 – Dec 2002
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between end">
    <div>
      <h5>Data Point (Brussels) </h5>
      Programmer :  Developing a program in Visual Basic Language to move data between 2 databases
    </div>
    <div >
        April 2000 – Dec 2000
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between end">
    <div>
      <h5>Ministry of Education (Liege)</h5>
      Teacher – Islamic Religion :  Helping students to achieve their targets, preparing teaching materials <br>
      Delivering individual teaching sessions in mathematics , guiding and supporting
    </div>
    <div >
        Sept 1986 – June 1999
    </div>
</div>


















