<div fxLayout="row" fxLayoutAlign="space-between end">
    <div>
      <h5>Self-Study</h5>
     Java, Spring Boot, Hibernate, Angular
    </div>
    <div >
      2020
    </div>
  </div>
<div fxLayout="row" fxLayoutAlign="space-between end">
  <div>
    <h5>ESOL English course</h5>
    Level 2     Community Revival
  </div>
  <div >
    Sept 2019
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between end">
    <div>
        <h5>Code Nation School</h5>
        JavaScript, HTML, CSS

      </div>
      <div >
        June 2019
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between end">
    <div>
        <h5>Wan Belgium</h5>
        Aeronautical product designer using CATIA V5
    </div>
      <div >
        Sept 2016 – Apr 2017
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between end">
    <div>
        <h5>Baxter Belgium</h5>
        Production Technician - training and placement
    </div>
      <div >
        Oct 2014 – Oct 2015
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between end">
    <div>
        <h5>Forem Belgium	</h5>
        Administrations Windows 2000 and 2003 server training
    </div>
      <div >
        Oct 2012 – March 2013
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between end">
    <div>
        <h5>Open – NET	</h5>
        Fundamentals of the network (WAN and LAN networks)
        Concept and routing protocols
    </div>
      <div >
        Sept 2010 – May 2011
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between end">
    <div>
        <h5>IPES Belgium</h5>
        Diploma Certificate in Electronics – Electricity
    </div>
    <div >
        Sept 1991 – June 1993
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between end">
    <div>
        <h5>ICET Belgium</h5>
        Software Developper
     </div>
    <div >
        Sept 1983 – June 1985
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between end">
    <div>
        <h5>Baccalauréat – Secondary school</h5>
        Diploma in mathematics
    </div>
    <div >
        Sept 1982 – June 1983
    </div>
  </div>



























